.btn-custom {
  &-light,
  &-dark,
  &-disabled {
    display: inline-block;
    font-family: $font-family-sans-tw;
    padding: 8px 16px;
    border: 1px solid $gray-800;
    border-radius: 0;
    flex: 1 1 auto;

    @include media-breakpoint-up(lg) {
      padding: 8px 48px;
      flex: inherit;
    }
  }

  &-light {
    color: $gray-800;
    background-color: $white;

    &:hover {
      border: 1px solid $gray-800;
      background-color: $primary-300;
    }
  }

  &-dark {
    color: $white;
    background-color: $gray-800;

    &:hover {
      color: $white;
      border: 1px solid $gray-800;
      background-color: darken($gray-800, 10%);
    }
  }

  &-disabled {
    width: 100%;
    color: $gray-800;

    @include media-breakpoint-up(lg) {
      width: fit-content;
    }
  }

  &-word:hover {
    padding-left: 8px;
    margin-right: -8px;
  }

  &-hover-moveStart:hover {
    padding-right: 8px;
    margin-left: -8px;
  }

  &-hover-moveEnd:hover {
    padding-left: 8px;
    margin-right: -8px;
  }

  &-hover-scale {
    transition: all ease 0.3s;
    &:hover {
      transform: scale(1.15);
    }
  }

  &-hover-scale-sm {
    transition: all ease 0.3s;
    &:hover {
      transform: scale(1.05);
    }
  }
}
