.offcanvas.offcanvas-end.show {
  border: 0;
  --bs-offcanvas-width: 30vw;
  backdrop-filter: blur(6px);
}

.offcanvas-backdrop.fade.show {
  opacity: 0;

  @include media-breakpoint-up(lg) {
    width: 70vw;
    opacity: 0.5;
  }
}
